body {
    width: 1600px;
    background-color: cyan;
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
}

div.header {
    margin: 0 auto;
    padding: 0;
    background: beige url('../assets/header/headers-oscar-guy.jpg');
    height: 565px;
}

div.header div.info {
    color: white;
    background: rgba(73,72,68,0.5);
    position: relative;
    height: 211px;
    top: 352px;
}

div.header .title,
div.header .text,
div.header .ui {
    padding: 0px 300px;
}

div.header .title {
    padding-top: 5px;
    height: 60px;
}

div.header .text {
    font-weight: lighter;
    margin-left: 10px;
    margin-top: 15px;
    height: 70px;
}

div.header .title p {
    padding: 0;
    margin: 0;
    font-size: 60px;
    font-weight: bold;
    word-spacing: -5px;
}

div.header div.ui {
    padding-top: 30px;
}

div.header .text p {
    width: 730px;
    padding: 0;
    margin: 0;
    font-weight: 30;
    font-size: 30px;
}

/*
    тут есть минус
*/
div.header .account-info {
    margin-top: -5px;
    margin-left: 7px;
    font-weight: lighter;
    float: left;
    vertical-align: middle;
}

div.header .account-info span, 
div.header .account-info img,
div.content div.article span, 
div.content div.article img {
    vertical-align: middle;
}

div.header .account-info img {
    border-radius: 1px;
}

div.header .account-info span {
    margin-left: 11px;
}

div.header .account-info span:last-child {
    margin-left: 30px;
    word-spacing: 2px;
}

div.header .account-buttons a{
    
}

div.header a {
    margin: 0;
    padding: 0;
    margin-left: 30px;
    text-decoration: none;
}


div.header div.account-buttons span, 
div.header div.account-buttons img {
    vertical-align: middle;
}

div.header a span {
    font-size: 14px;
    color: white;
    margin-left: 8px;
}

div.header a:first-child {
    margin-left: 271px;
}
div.header a:last-child {
    margin-left: 20px;
}


/*
    CONTENT
*/

div.content {
}

div.content a {
    text-decoration: none;
}

div.content .show-item {
    width: 1600px;
    display: table-cell;
    background-color: #e5e9ec;
    height: 55px;
    text-align: center;
    vertical-align: middle;
}

div.content .show-item span {
    text-transform: uppercase;
    color: #7394a7;
    font-size: 16px;
    margin: 23px;
}

div.content div.articles {
    margin: 0 auto;
    height: 400px;
    padding: 0 400px;
    color: black;
    background-color: white;
    padding-top: 40px;
}

div.content div.article .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px;
}

div.content div.article .text {
    font-size: 18px;
    margin-bottom: 40px;
}

div.content div.article .info {
    vertical-align: middle;
    margin-left: 1px;
}

div.content div.article img {
    display: inline-block;
    border-radius: 1px;
    margin-right: 5px;
}

 div.content div.article span {
    margin-right: 40px;
    color: #828282;
}

