body {
    width: 1600px;
    background-color: cyan;
    font-family: 'lato-light', sans-serif;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
}
.margin-right {
    margin-left: 0px;
}
div.header {
    margin: 0 auto;
    padding: 0;
    background: beige url('../assets/header/headers-oscar-guy.jpg');
    height: 565px;
}


div.header div.info {
    color: white;
    background: rgba(73,72,68,0.5);
    position: relative;
    height: 211px;
    top: 352px;
}

div.header div.author {
    margin-top: 25px;
    margin-right: 300px;
    float: right;
    color: white;
    font-size: 14px;
}

div.header div.author a {
    color: white;
    text-decoration: underline;
    padding: 0;
    margin: 0;
}

div.header .title,
div.header .text,
div.header .ui {
    padding: 0px 300px;
}

div.header .title {
    padding-top: 5px;
    height: 60px;
}

div.header .text {
    font-weight: 100;
    margin-left: 10px;
    margin-top: 15px;
    height: 70px;
}

div.header .title p {
    padding: 0;
    margin: 0;
    font-size: 60px;
    font-weight: bold;
    word-spacing: -5px;
}

div.header div.ui {
    padding-top: 30px;
}

div.header .text p {
    width: 780px;
    padding: 0;
    margin: 0;
    font-weight: 30;
    font-size: 30px;
}

/*
    тут есть минус
*/
div.header .account-info {
    margin-top: -5px;
    margin-left: 7px;
    font-weight: lighter;
    float: left;
    vertical-align: middle;
}

div.header .account-info span, 
div.header .account-info img,
div.content div.article span, 
div.content div.article img {
    vertical-align: middle;
}

div.header .account-info img {
    border-radius: 1px;
}

div.header .account-info span {
    margin-left: 11px;
}

div.header .account-info span:last-child {
    margin-left: 0;
}
div.header .account-info span:last-child {
    margin-left: 30px;
    word-spacing: 2px;
}


div.header a {
    margin: 0;
    padding: 0;
    margin-left: 30px;
    text-decoration: none;
}


div.header div.account-buttons span, 
div.header div.account-buttons img {
    vertical-align: middle;
}

div.header a span {
    font-size: 14px;
    color: white;
    margin-left: 8px;
}

div.header a:first-child {
    margin-left: 270px;
}
div.header a:last-child {
    margin-left: 20px;
}


/*
    CONTENT
*/

div.content {
}

div.content a {
    text-decoration: none;
}

div.content .show-item {
    width: 1600px;
    display: table-cell;
    background-color: #e5e9ec;
    height: 55px;
    text-align: center;
    vertical-align: middle;
}

div.content .show-item span {
    text-transform: uppercase;
    color: #7394a7;
    font-size: 16px;
    margin: 23px;
}

div.content div.articles {
    margin: 0 auto;
    padding: 0 400px;
    color: black;
    background-color: white;
    padding-top: 40px;
}

div.content div.article {
    margin-bottom: 78px;
}

div.content div.article .title p{
    margin: 0;
    
    word-spacing: 2px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px;
}

div.content div.article .asset,
div.content div.article .three-assets {
    text-align: center;
    margin-bottom: 35px;
    
}

div.content div.article .asset img {
    border-radius: 3px;
    padding: 12px;
}

div.content div.article .three-assets img{
    margin-right: 8px;
}

div.content div.article .text p{
    margin: 0;
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 1.6;
    word-spacing: 1px;
}

div.content div.article .info {
    vertical-align: middle;
    margin-left: 1px;
}

div.content div.article .border {
    border-radius: 1px;
    background-color: #f6f6f6;
}

div.content div.article .info img {
    display: inline-block;
    border-radius: 1px;
    margin-right: 1px;
}

div.content div.article .info .publisher{
    float: left;
   
}

div.content div.article .info span,
div.content div.article div.buttons a,
div.content div.article div.buttons{
    color: #828282;
}


 div.content div.article .info span {
    margin-right: 40px;
    
}


div.content div.article div.buttons {
    float: right;
}

div.content div.article div.publisher span {
    margin-right: 0;
}

div.content div.article div.buttons a{
    
}

div.content div.article div.buttons div{
    margin-left: 18px;
    display: inline;
}


div.content div.article div.buttons div:first-child {
    margin-left: 0;
}
div.content div.article .info div.publisher span{
    margin-left: 0;
}

div.content div.comments {
    position: absolute;
}


/*
div.content div.comments div.comment-text div.name,
div.content div.comments div.timecode,
div.content div.comments div.text,
div.content div.comments div.reply,
div.content div.comments div.comment-text{
    position: relative;
}
*/
div.content div.comments div.avatar {
    float: left;
    margin-right: 21px;
    margin-right: 21px;
}
div.content div.comments div.comment-text {
    float:left;
    max-width: 40%;
}


div.content div.comments div.comment-text div.name {
    font-weight: bold;
}
div.content div.comments div.name,
div.content div.comments div.timecode {
    display: inline-block;
}

div.content div.comments div.name {
    margin-bottom: 14px;
}

div.content div.comments div.reply {
    margin-bottom: 70px;
}

div.content div.comments div.timecode {
    font-size: 14px;
    color: #90919d;
}

div.content div.comments div.text {
}

.clearfix {
    display: table;
    content: "";
    clear: both;
}
